doctype html
html 
    head
        meta(charset='utf-8')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script.
          $(document).ready(function(){
            $("#sendForm a").on('click', function(e){
                e.preventDefault();
                var fileName = $(this).attr('href');
                //var data = $('input[name=quote]').val();
                $.ajax({
                    type: 'get',
                    url: '/readFile/'+fileName,
                    //- data: data,
                    //dataType: 'json'
                })
                .done(function(data){
                    $('#workSendArea').html(data.fileData);
                });
              });
            $("#sendBtn").on('click', function(e){
                e.preventDefault();
                var data = $('#workSendArea').val();
                $.ajax({
                    type: 'post',
                    url: '/sendMsg',
                    data: {conts : data},
                    dataType: 'text'
                })
                .done(function(data){
                    //- $('#workSendArea').html(data.fileData);
                    if(data === 'success'){
                      alert('전송완료');
                    } else {
                      alert('실패');
                    }
                });
            });
          });
        style.
          textarea {
            float : left;
            margin-right : 40px;
          }
    body
        h1 Hello Pug
        #content
        form(id="sendForm")
          textarea(id="workSendArea", name="conts", cols="50", rows="40")
          input(type="button", id="sendBtn" value="제출")
          ul
            each val, index in con1
              if val.gubun !== 'Dir'
                a(href= val.fileName, gubun= val.gubun, target= "blank") 
                  li= val.fileName
              else
                  div= val.fileName
        
        //- if(fileData)
        //-    p #{fileData}